.container{
    min-width: 98vw;
    min-height: 98vh;
    display: grid;
    grid-template-columns: 15% 85%;
    grid-template-rows: 8% 92%;
}

.dashboard{
    grid-row: 1/3;
    background-color: rgba(14, 64, 201, 0.959);
    display: flex;
    flex-direction: column;
}

.dbi{
    margin-left: 20%;
}

.header{
    display: flex;
    flex-direction: column;
    gap: 12px;
    margin: auto 8% auto 8%;
}

.content{
    display: grid;
    grid-template-columns: 80% 20%;
    background-color: rgba(155, 154, 154, 0.959);
}

.sideitems{
    display: grid;
    grid-template-rows: 60% 40%;
    grid-template-columns: 100%;
    margin-right: 8%;
}

.projects{
    display: grid;
    gap: 3%;
    grid-template-columns: 1fr 1fr;
    margin-left: 3%;
    margin-right:3%;
}

.twolength{
    grid-column: 1/3;
}

.announcements{
    display: grid;
    gap: 3px;
}

.trending{
    display: grid;
    gap: 3px;
}

.items{
    height: 100px;
    background-color: beige;
    border-radius: 15px;
}

.announcement{
    height: 80px;
    background-color: beige;
    border-radius: 15px;
}

.trend{
    height: 40px;
    background-color: beige;
    border-radius: 15px;
}

input{
    width: 60%;
    border-radius: 10px;
    background-color: rgba(155, 154, 154, 0.959);
}